<div class="container" ng-controller="feedsController as c">
    <div class="row">
        <div class="col-md-12">
            <div id="alerts">
                <alert ng-repeat="alert in c.alerts" type="{{alert.type}}" close="c.closeAlert($index)">{{alert.msg}}</alert>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="i in c.list" ng-include src="c.template">

    </div>
</div>
<div>
    <script type="text/ng-template" id="myModalContent.html">
        
        <div class="row" ng-controller="feedsController">
            <div class="row">
                <div class="col-md-12">
                    <div id="alerts">
                        <alert ng-repeat="alert in ct.alerts" type="{{alert.type}}" close="ct.closeAlert($index)">{{alert.msg}}</alert>
                    </div>
                </div>
            </div>s
            <div class="col-md-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Reserve this Mealvite</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <form role="form">
                            <!-- text input -->
                            <div class="form-group">
                                <input disabled type="text" ng-model="ct.entity.title" class="form-control" placeholder="Title Here..">
                            </div>
                            <div class="form-group">
                                <input disabled type="text" ng-model="ct.entity.location" class="form-control" placeholder="Location Here..">
                            </div>
                            <div class="form-group">
                                <input disabled type="text" ng-model="ct.entity.mealViteDate" class="form-control" placeholder="Date of Mealvite">
                            </div>
                            <div class="form-group">
                                <input disabled type="number" ng-model="ct.entity.price" class="form-control" placeholder="Payment Here..">
                            </div>
                        </form>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-6">
                                <button class="btn btn-block btn-success" ng-click="ct.ok()">Reserve now</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </script>
</div>